body {
  
}

nav {
  width: 1000px;
  background-color: black;
  margin: auto;
  height: 100px;
  color: #ffc31c;
}

#logo {
  float: left;
  font-size: 4.2em;
  padding-left: 60px;
  padding-top: 11px;
  width: 600px;
  letter-spacing: .2em;
  text-align: center;
}

#logo a {
  text-decoration: none;
  color: #ffc31c;
  font-family: monospace;
}


#navSession {
  float: right;
  width: 300px;
  padding-top: 38px;
}

#loggedIn {
  text-align: center;
}

.navButton  {
  background: linear-gradient(to bottom, gray, #000);
  border: 1px solid white;
  color: #ffc31c;
  height: 35px;
  width: 135px;
  font-size: 13px;
}

.container {
  width: 1000px;
  margin: auto;
  color: #ffc31c;
  background-image: url("/images/background.jpg");
  margin-top: -21px;
}

h1 {
  text-align: center;
}

a {
  font-family: "Raleway", sans-serif;
  color: #ffc31c;
}


.comments {
    font-family: "Raleway", sans-serif;
}


th {
  text-align: left;
}
