<h2>MOVIE ADDING PAGE</h2>

<form action="/find_movie" method="post">
  <input type="text" name="user_movie" placeholder="enter the title of the movie"><br/>
  <input type="submit" value="Find it!">
</form>
