<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <a href="/">Home</a>  
  <header>
    <% if session[:user_id].nil? %>
      <% puts "no user" %>
      <%= erb :_no_user_logged_in %>
    <% else %>
      <%= erb :_user_logged_in %>
      <form action="/logout" method="post">
        <input type="submit" value="Logout">
      </form>
    <% end %>

</header>
  <%= yield %>
</body>
</html>
