<p>hello world!</p>

<h3>Which one is the movie you want to show your genius on?</h3>
	
	<table>
		<% @movies.each do |movie|  %>

			<p><%= movie.title%></p>
			<p><%= movie.imdb_id%></p>
			<p><%= movie.url%></p>

		<% end %>
	</table>