
 <div class="signUpPage">
 <h3><u>New? Sign up here:</u></h3>

<form action="/signup" method="post">

  <input type="text" name="new_user[username]" placeholder="ENTER A USERNAME" size="30"><br/><br/>
  <input type="password" name="new_user[password]" placeholder="ENTER A PASSWORD" size="30"><br/><br/>
  <input type="submit" value="SIGN ME UP" class="button">
</form>

<h3><u>Or log in here:</u></h3>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="YOUR USERNAME" size="30"><br/><br/>
  <input type="password" name="password" placeholder="Y0UR PA$$WORD" size="30"><br/><br/>
  <input type="submit" value="LOG ME IN" class="button" >
</form>
</div>
