<h1>Welcome to Movie Genius!</h1>

<h3>New? Sign up here:</h3>

<form action="/signup" method="post">
  <input type="text" name="new_user[:username]" placeholder="enter a username"><br/>
  <input type="text" name="new_user[:email]" placeholder="enter your email address"><br/>
  <input type="password" name="new_user[:password]" placeholder="enter a password"><br/>
  <input type="submit" value="Sign me up!">
</form>

<h3>Or log in here:</h3>
<form action="/login" method="post">
  <input type="text" name="user[:username]" placeholder="YourUsername"><br/>
  <input type="password" name="user[:password]" placeholder="Y0urPa$$word!"><br/>
  <input type="submit" name="Log me in!">
</form>
