<h3>New User?</h3>

<form action="/signup" method="post">
  <input type="text" name="new_user[username]" placeholder="Enter a Username"><br/>
  <input type="password" name="new_user[password]" placeholder="Enter a Password"><br/>
  <input type="submit" value="Sign up!">
</form>

<br>

<h3>Returning User?</h3>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username"><br/>
  <input type="password" name="password" placeholder="Password!"><br/>
  <input type="submit" value="Log in!">
</form>
