<div class="specificComment">
<br>
Comment for: <a href= "/movies/<%= @movie.id %>"><%= @movie.title %></a> <br><br>
"<%= @comment.text.capitalize %>" <br><br>
<input type="submit" value="Vote up!" class="button">
</div>